<form>
    <div class="sellForm">
        <h2>Sell your product </h2>
        <hr>
        <div class="selldiv">
            <label for="name"><b>Product Name</b></label>
            <input type="text" placeholder="Enter the name of your product" name="name" id="name">
            <hr>

            <label for="description"><b>Description</b></label>
            <textarea type="text" placeholder="Enter description about your product" name="description" id="description"></textarea>
            <hr>

            <label for="price"><b>Price</b></label>
            <input type="text" placeholder="Enter the price of your product" name="price" id="price">
            <hr>

            <label for="image"><b>Image</b></label>
            <input type="text" placeholder="Post some image of your product" name="imageUrl" id="imageUrl" required>
            <hr>

            <button class="sellbtn">Sell</button>
            <button class="cancelbtn" type="button" (click)="cancelHandler()"> Cancel </button>
        </div>

    </div>

</form>