<div class="row">
    <div class="leftcolumn">
        <div class="card">
            <h3>Welcome!</h3>
            <p>This store is a place where you can buy or sell anything you want. If you want to sell a product or buy one, you need to login or register on the site.</p>
            <div *ngIf="!isLogged" class="buttons">
                <a routerLink="/user/register">Register</a>
                <a routerLink="/user/login">Login</a>
            </div>
        </div>
        <h3 class="products" *ngIf="isLogged && !productList">Available products</h3>
        <h3 class="products" *ngIf="productList.length === 0">No available products</h3>

        <app-product-item *ngFor="let product of productList" [product]="product"></app-product-item>

        <div *ngIf="!productList">Loading...</div>
    </div>
</div>