<div class="details">
    <h2>TITLE HEADIND</h2>
    <h5>Data</h5>
    <div class="fakeimg" style="height:200px;">Image</div>
    <p> asdiafisdf sdfisdfjs isd ifsso dfsid sod sjdfsoidf sodjjf oi</p>
    <button class="likebtn">Buy</button>
    <button class="editbtn">Edit</button>
    <button class="deletebtn">Delete</button>
</div>
<h3>Add a comment</h3>

<div class="comment">
    <form>
        <textarea name="postComment" id="comment" cols="197" rows="10"></textarea>
        <button class="postbtn">Post</button>
    </form>
</div>

<h3>Comments</h3>

<div>
    <div class="comment">
        <h3>Uthor Name</h3>
        <p>Comment text</p>
        <p><span>Chreatet at</span></p>
        <p><span>10 Likes</span></p>
        <button class="likebtn">Like</button>
        <button class="editbtn">Edit</button>
        <button class="deletebtn">Delete</button>
    </div>
    <!-- <div *ngIf="postList.length === 0">No Posts!</div> -->
</div>

<div>
    <div class="comment">
        <h3>Uthor Name</h3>
        <p>Comment text</p>
        <p><span>Chreatet at</span></p>
        <p><span>10 Likes</span></p>
        <button class="likebtn">Like</button>
        <button class="editbtn">Edit</button>
        <button class="deletebtn">Delete</button>
    </div>
    <!-- <div *ngIf="postList.length === 0">No Posts!</div> -->
</div>
<!-- <div *ngIf="!postList">
        Loading...
      </div> -->