<form #f="ngForm" (ngSubmit)="submitHandler(f.value, product._id)">
    <div class="sellForm">
        <h2>Edit your product </h2>
        <hr>
        <div class="selldiv">
            <label for="productName"><b>Product Name</b></label>
            <input #productName="ngModel" [class.input-error]="productName.touched && !!productName.errors" type="text" placeholder="Enter the name of your product" name="productName" id="productName" [ngModel]="product.productName" required>
            <p *ngIf="productName.touched && productName.errors?.required" class="error">
                Name is required!
            </p>
            <hr>

            <label for="description"><b>Description</b></label>
            <textarea #description="ngModel" [class.input-error]="description.touched && !!description.errors" type="text" placeholder="Enter description about your product" name="description" id="description" [ngModel]="product.description" required minlength="10"></textarea>
            <p *ngIf="description.touched && description.errors?.required" class="error">
                Description is required!
            </p>
            <p *ngIf="description.touched && description.errors?.minlength" class="error">
                Description must be at least 10 characters!
            </p>
            <hr>

            <label for="price"><b>Price</b></label>
            <input #price="ngModel" [class.input-error]="price.touched && !!price.errors" type="text" placeholder="Enter the price of your product" name="price" id="price" [ngModel]="product.price" required>
            <p *ngIf="price.touched && price.errors?.required" class="error">
                Price is required!
            </p>
            <hr>

            <label for="image"><b>Image</b></label>
            <input #imageUrl="ngModel" [class.input-error]="imageUrl.touched && !!imageUrl.errors" type="text" placeholder="Post some image of your product" name="imageUrl" id="imageUrl" [ngModel]="product.imageUrl" required appImageValidator>
            <p *ngIf="imageUrl.touched && imageUrl.errors?.required" class="error">
                ImageUrl is required!
            </p>
            <p *ngIf="imageUrl.touched && imageUrl.errors?.imageValidator" class="error">
                ImageUrl must start with "http://" or "https://"!
            </p>
            <hr>

            <button class="sellbtn" [disabled]="isLoading || f.invalid">Save</button>
            <button class="cancelbtn" type="button" (click)="cancelHandler(product._id)"> Cancel </button>
            <app-loader [isLoading]="isLoading"></app-loader>
        </div>

    </div>

</form>