<div class="header">
    <h1>Online Shop</h1>
    <p>You can sell and buy anything you want!</p>
</div>

<div class="nav">
    <a routerLink="/home">Home</a>
    <a *ngIf="isLogged" routerLink="/product/new">Sell</a>
    <a *ngIf="!isLogged" routerLink="user/register" style="float:right">Register</a>
    <a *ngIf="!isLogged" routerLink="user/login" style="float:right">Login</a>
    <a *ngIf="isLogged" style="float:right" (click)="logoutHandler()">Logout</a>
    <a *ngIf="isLogged" routerLink="user/profile" style="float:right">{{currentUser.username}}'s profile</a>
</div>