<form>
    <div class="registerForm">
        <h2>Register Form</h2>
        <hr>
        <div class="registerdiv">
            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Enter your email" name="email" id="email">
            <hr>

            <label for="email"><b>Address</b></label>
            <input type="text" placeholder="Enter your address" name="email" id="email">
            <hr>

            <label for="username"><b>Username</b></label>
            <input type="text" placeholder="Enter your username" name="username" id="username">
            <hr>

            <label for="password"><b>Password</b></label>
            <input type="password" placeholder="password" name="password" id="password" required>
            <hr>

            <label for="re-password"><b>Repeat Password</b></label>
            <input type="password" placeholder="re-password" name="re-password" id="re-password" required>
            <hr>
            <button class="registerbtn" type="submit">Register</button>
        </div>

        <div class="container signin">
            <p>Already have an account? <a routerLink="/user/login">Sign in</a>.</p>
        </div>

    </div>

</form>